# Mac
.DS_Store

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.toc
*.out
*.lof
*.lot
*.idx
*.ilg
*.ind
*.fls
*.fdb_latexmk
*.synctex.gz
*.dvi

# Editor backup files
*.bak
*~

# Build output dirs
source\ code/build/
implementation/*/build/
